<%= render :partial => 'branches/branch-tab.html' %>
<div class="content">
  <h2>Branch</h2>

  <div class="inner">
    <p>
      <%= label_tag :name, 'Name', class: 'detail-label' %>
      <span>: <%= @branch.name %></span>
    </p>
    <p>
      <%= label_tag :phone, 'Phone', class: 'detail-label' %>
      <span>: <%= @branch.phone %></span>
    </p>
    <p>
      <%= label_tag :address, 'Address', class: 'detail-label' %>
      <span>: <%= @branch.address %></span>
    </p>
    <p>
      <%= label_tag :profile, 'Profile', class: 'detail-label' %>
      <span>: <%= @branch.profile %></span>
    </p>
    <p>
      <%= label_tag :store_manager, 'Store Manager', class: 'detail-label' %>
      <% if @branch.store_manager %>
        <span>: <%= @branch.store_manager.try(:name) %></span>
      <% else %>
        : <%= link_to "Assign Store Manager", sm_branches_path(@branch) %>
      <% end %>
    </p>

    <div class="link-button-container">
      <%= link_to "Back", branches_path, class: 'link-button' %>

      <div class="clear"></div>
    </div>
  </div>
</div>