<div class="content">
  <h2>Purchase Order</h2>

  <div class="inner">
    <p>
      <%= label_tag :order_number, 'Order Number', class: 'detail-label' %>
      <span>: <%= @order.order_number %></span>
    </p>
    <p>
      <%= label_tag :order_date, 'Order Date', class: 'detail-label' %>
      <span>: <%= @order.order_date %></span>
    </p>
    <p>
      <%= label_tag :created_by, 'Created By', class: 'detail-label' %>
      <span>: <%= @order.user.try(:name) %></span>
    </p>
    <p>
      <%= label_tag :branch_id, 'Branch', class: 'detail-label' %>
      <span>: <%= @order.branch.try(:name) %></span>
    </p>

    <p>
      <%= label_tag :order_details, 'Detail Orders', class: 'detail-label' %>
      <span>: </span>
    </p>
    <table class="table">
      <tr>
        <th>Description</th>
        <th class="center">Quantity</th>
        <th>Unit</th>
        <th>Used date</th>
      </tr>

      <% @order.order_details.each do |detail| %>
        <tr class="<% cycle('odd', 'even') %>">
          <td><%= detail.description %></td>
          <td class="center"><%= detail.quantity %></td>
          <td><%= detail.unit.try(:name) %></td>
          <td><%= detail.used_date %></td>
        </tr>
      <% end %>
    </table>

    <div class="link-button-container">
      <%= link_to "Back", purchase_orders_path, class: 'link-button' %>

      <% if current_user.role?('tl') %>
        <%= link_to "Approve", '#', class: 'link-button green' %>
        <%= link_to "Reject", '#', class: 'link-button red' %>
      <% end %>

      <div class="clear"></div>
    </div>
  </div>
</div>