<tr class="order-detail-input-fields">
  <td><%= f.text_area :description, :class => 'text_area long', :rows => 2, :cols => 80 %></td>
  <td>
    <%= f.select :department_id, options_for_select(@department_options, f.object.department_id),
      {include_blank: 'Choose Here ...'}, :class => 'chzn-select' %>
  </td>
  <td>
    <%= f.select :position_id, options_for_select(@position_options, f.object.position_id),
      {include_blank: 'Choose Here ...'}, :class => 'chzn-select' %>
  </td>
  <td class="center"><%= f.number_field :quantity, min: 1, :class => 'text_field number very-short center' %></td>
  <td>
    <%= f.select :gender, options_for_select(gender_options, f.object.gender), {}, :class => 'chzn-select' %>
  </td>
  <td class="right">
    <%= f.text_field :used_date, :class => 'text_field datepicker min-now',
      :value => !f.object.used_date.blank? ? f.object.used_date.strftime('%d-%m-%Y') : '' %>
  </td>
  <td>
    <%= f.check_box :_destroy, :class => 'hidden' %>
    <%= link_to_remove_items "remove", f %>
  </td>
</tr>

<script type="text/javascript">
  // datepicker
  if ($.fn.datepicker){
    $('.datepicker').datepicker({
      dateFormat: 'dd-mm-yy'
    }).attr('readonly', 'readonly');
    if ($('.datepicker.now').val() == '') $('.datepicker.now').datepicker('setDate', new Date());
    $('.datepicker.min-now').datepicker('option', 'minDate', new Date());
  }

  // chosen
  if ($.fn.chosen){
    $('.chzn-select').chosen();
  }
</script>