<div class="content">
  <h2>User</h2>

  <div class="inner">
    <div class="link-button-container">
      <%= link_to "New", new_user_path, class: 'link-button' %>

      <div class="clear"></div>
    </div>

    <table class="table">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Position</th>
        <th>Branch</th>
        <th class="last">&nbsp;</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role.try(:name) %></td>
          <td>
            <%= user.branch.try(:name) if user.role?('sm') %>
            <%= pluralize(user.branches.try(:count), 'branch') if user.role?('tl') %>
          </td>
          <td class="last">
            <%= link_to 'Show', user_path(user) %>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Remove', user_path(user), method: :delete, confirm: 'Are you sure?' %>
          </td>
        </tr>
      <% end unless @users.blank? %>
    </table>

    <div class="actions-bar wat-cf">
      <div class-"page-entries">
        <%= page_entries_info @users %>
      </div>
      <div class="pagination">
        <%= will_paginate %>
      </div>
    </div>

  </div>
</div>