<div class="secondary-navigation">
  <ul class="wat-cf">
    <li class="<%= 'active' if controller_name == 'departments' %>">
      <%= link_to 'Departments', departments_path %>
    </li>
    <li class="<%= 'active' if controller_name == 'positions' %>">
      <%= link_to 'Positions', positions_path %>
    </li>
    <li class="<%= 'active' if controller_name == 'units' %>">
      <%= link_to 'Unit', units_path %>
    </li>
  </ul>
</div>