<% class_string = order_class.to_s.underscore %>
<% orders_path  = "#{ class_string.pluralize }_path" %>

<%= form_for order, as: 'order', html: {class: "form order-form"} do |f| %>
  <%= error_messages(order).html_safe %>

  <div class="group">
    <% onumber = order.order_number.blank? ? order.generate_order_number : order.order_number %>
    <%= f.label :order_number, 'Order Number', class: 'label' %>
    <%= f.text_field :order_number, class: 'text_field short', readonly: "readonly", value: onumber %>
  </div>
  <div class="group">
    <%= f.label :order_date, 'Order Date', class: 'label' %>
    <% v = !order.order_date.blank? ? order.order_date.strftime("%d-%m-%Y") : '' %>
    <%= f.text_field :order_date, class: 'text_field datepicker now', value: v, readonly: true %>
  </div>
  <div class="group">
    <%= f.label :created_by, 'Ordered by', class: 'label' %>
    <%= f.label current_user.name, class: 'label' %>
    <%= f.hidden_field :created_by, value: current_user.id %>
  </div>
  <% if current_user.role?('sm') %>
    <div class="group">
      <%= f.label :branch_id, 'Branch', class: 'label' %>
      <%= f.label current_user.branch.name, class: 'label' %>
      <%= f.hidden_field :branch_id, value: current_user.branch.try(:id) %>
    </div>
  <% else %>
    <div class="group">
      <%= f.label :branch_id, 'Branch', class: 'label' %>
      <%= f.select :branch_id, options_for_select(branch_options(current_user), f.try(:object).try(:branch_id) || current_user.branch.try(:id)), {include_blank: 'Choose here ...'},
    class: 'selectbox chzn-select user_branch' %>
    </div>
  <% end %>

  <% details = order_class == EmployeeOrder ? :employee_details : :order_details %>
  <table class="table" id="<%= details.to_s %>">
    <tr>
      <th>Description</th>

      <% if order_class == EmployeeOrder %>
        <th>Department</th>
        <th>Position</th>
        <th class="center">Quantity</th>
        <th class="center">Gender</th>
        <th class="right">Used date</th>
        <th></th>
      <% else %>
        <th class="center">Quantity</th>
        <th class="center">Unit</th>
        <th class="right">Used date</th>
        <th></th>
      <% end %>
    </tr>

    <%= f.fields_for details do |od| %>
      <%= render "/orders/#{details.to_s.singularize}_fields", f: od %>
    <% end %>
  </table>

  <p><%= link_to_add_items "Add Order Item", f, details %></p>

  <div class="actions-bar wat-cf">
    <%= f.submit "Send", class: 'link-button right' %>
    <%= link_to "Back", send(orders_path), class: 'link-button right' %>
    <div class="clear"></div>
  </div>
<% end %>
