<p>
  Dear <%= @implementer.name %>,
</p>

<p>
  The following order has been approved on topfood system and waiting for implementation.<br />
</p>
<p>
  <b>Order Number:</b> <%= @order.order_number %><br />
  <b>Created At:</b> <%= @order.order_date %><br />
  <b>Ordered By:</b> <%= @order.user.name %><br />
  <b>Branch:</b> <%= @order.branch.name %><br />

  <b>Details:</b><br />
  <% if @order.class == EmployeeOrder %>
    <ul>
      <% @order.employee_details.each do |detail| %>
        <li>
          <%= detail.description %>
          Department: <%= detail.department.try(:name) %><br />
          Position: <%= detail.position.try(:name) %><br />
          Quantity: <%= detail.quantity %><br />
          Gender: <%= detail.gender %><br />
          Used Date: <%= detail.used_date %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <ul>
      <% @order.order_details.each do |detail| %>
        <li>
          <%= detail.description %><br />
          QTY: <%= detail.quantity %> <%= detail.unit.name %><br />
          Used Date: <%= detail.used_date %><br />
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  Click the following link to check it.
</p>
<p>
  <%= link_to "Click", send("#{@order.type.underscore}_url", @order) %>
</p>

<p>
  Regards,
  Topfood System
</p>
